<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjj.vectordrawable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VectorCompatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LPlusActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".RecyclerViewActivity"
            android:label="@string/app_name"
            android:theme="@style/ToolAppTheme"  />
        <activity android:name=".DemoAct"/>
        <activity android:name=".RollDebugAct"/>
        <activity android:name=".ItemTouchHelperActivity"/>
    </application>

</manifest>